* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(207deg, rgba(195,34,48,1) 0%, rgba(86,45,253,1) 100%);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav {
    height: 12vh;
    background-color: rgba(206, 206, 206, 0.288);
    position: sticky;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: #000;
    font-weight: bold;
    display: block;
}

#profile {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 30px;
    position: relative;
}

#profile img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1); 
    margin-top: 10px;
    transition: transform 0.5s ease, z-index 0s; 
    position: relative;
    z-index: 1; 
}

#profile img:hover {
    cursor: grabbing; 
    transform: scale(3.3) translate(35%, 44%);
    z-index: 10;
}

#interests{
    color: rgb(200, 255, 0);
    font-size: 25px;
}

#home{
 font-size: 25px;
}


.container {
    height:590px;  
    padding: 20px;
    width: 90%;
    font-size: 18px;
    user-select: none;
}   


#detail{
    margin: -20px 0;
    cursor: pointer;
}

#heading{
    font-size: 40px;
    margin-top: 70px;   
}


.interests-list{
    cursor: pointer;
    margin: 20px 40px;
    line-height: 1.1;
}

#dumbbell{
    rotate: 140deg;
}

#hand{
    rotate: 270deg;
    transform: scaleX(-1);
}

#bike{
    rotate: 340deg;
}

.bodyright h4{
    float: right;
    margin-top: -230px;
    border: 2px dashed rgb(58, 58, 58);
    padding: 20px;
    color: rgb(48, 48, 48);
    border-radius:15px ;
    font-size: large;
    padding: 40px;
}

.footer {
    height: 25vh;
    margin-bottom: 0;
    background-color: rgba(12, 12, 12, 0.952);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
}

.footer li {
    margin: 0 50px;   
}

.footer .title {
    font-size: 1.2rem; 
    color: white;
    margin-bottom: 5px;
}

.footer li span {
    font-size: 1rem; 
    color: rgb(124, 124, 124);

}

.footer li a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

#logo{
    border-radius: 50%;
    height: 18px;
    margin-top: 2px;
}